<mat-toolbar>
  <h5>{{toolbarTitle}}</h5>
  <div *ngIf="activeToolbar">
    <button mat-button (click)="onMore()">
      <mat-icon>add</mat-icon>
      More
    </button>
    <button mat-button (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-button (click)="onDelete()">
      <mat-icon>delete_forever</mat-icon>
      Delete
    </button>
  </div>
  <button mat-button matBadge="{{numberOfItems}}" matBadgePosition="above after" (click)="onCreate()">
    <mat-icon>library_add</mat-icon>
    New
  </button>
  <span class="spacer"></span>
  <button mat-button (click)="onDashboard()">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </button>
</mat-toolbar>
