<h1 class="mat-display-4">{{movie.title}}</h1>
<div class="align-content-center">
  <img style="width: 200px"
       src="{{movie.posterUrl}}"
       alt="poster">
</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Actors</mat-panel-title>
      <mat-panel-description>Actors from {{movie.title}}</mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let actor of movie.actors">
      <mat-label>{{actor.name}}</mat-label>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Genres</mat-panel-title>
      <mat-panel-description>Genres for {{movie.title}}</mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let genre of movie.genres">
      <mat-label>{{genre.genreType}}</mat-label>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Storyline</mat-panel-title>
      <mat-panel-description>Storyline for {{movie.title}}</mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <p>{{movie.storyLine}}</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Comments</mat-panel-title>
      <mat-panel-description>Add a comment to {{movie.title}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngFor="let comment of movie.comments">
      <app-movie-comment [comment]="comment"></app-movie-comment>
    </div>

    <app-movie-comment-add (refreshEmitter)="loadComments()"></app-movie-comment-add>

  </mat-expansion-panel>
</mat-accordion>
